@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;800&display=swap");


:root {
    background: linear-gradient(72.44deg, #432093 0%, #90dafd 100%);
    font-size: 14px;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 1% 3% 1%;
    overflow: hidden;
  
  
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}